{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styyle.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>EirBi&Bi | UTN</title>
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-light bg-light">
        <span class="logoTitle">EirBi&Bi</span>
        <form method="GET" class="form-inline">
            <input type="hidden" name="filter" id="filter" value='false'>
            <select name="cities" id="cities" class="form-control mr-sm-2" onclick="setFilter()">
                <option value="" selected disabled>Seleccione</option>
                {% for city in ciudades %}
                <option value="{{city.id}}">{{city.nombre}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-info searchBtn"><i class="material-icons searchLogo">search</i></button>
        </form>
    </nav>
    <!-- Body -->
    <div class="container">
        <div class="row">
            {% if propiedades %}
            {% for property in propiedades %}
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="{{property.imagen.url}}" alt="Imagen propiedad" class="card-img top">
                        <h5 class="card-title">{{property.title}}</h5>
                        <p class="card-text">{{property.descripcion}}</p>
                        <p class="card-text">
                            <small class="text-muted">{{property.ciudad}} - ${{property.tarifaDiaria}}</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'apiAlq:propiedad' property.id %}" class="btn btn-outline-info btn-sm float-right">Ver
                            mas</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <script>
        function setFilter() {
            let cities = document.getElementById("cities");
            if (cities.value > 0) {
                let filter = document.getElementById("filter");
                filter.value = true;
                document.getElementById("filter") = filter;
            }

        }
    </script>
</body>

</html>