{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styyle.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title> Eirbi - Sin Disponibilidad </title>
</head>
<body>
	<div class="container">
      <div class="jumbotron mt-3">
        <h1>Sin disponibilidad</h1>
        <p class="lead">No hay disponibilidad para esas fechas que ha seteado.</p>
        <a class="btn btn-lg btn-primary" href="/" role="button">Ir al Inicio</a>
      </div>
    </div>
</body>
</html>